
.mainContainer {
    height: 84vh;
    width: 60%;
    margin-top: 2%;
    flex-wrap: wrap;
}

.firstContainer {
    width: 100%;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.rickMortyLogo {
    max-width: 600px;
    max-height: 200px;
}

.inputWithSearchLogo {
    padding-left: 25px;
    background: url("https://www.svgrepo.com/show/19021/search.svg") no-repeat left;
    background-size: 20px;
    width: 96%;
    min-height: 56px;
    margin-top: 5%;
    border-radius: 8px;
}

.secondContainer {
    margin-top: 4%;
    max-width: 100%;
    display: grid;
    min-height: 54%;
    grid-template-columns: repeat(auto-fit,minmax(250px,4fr));
    justify-content: center;
}

.userBlock {
    height: 100%;
    padding: 10px;
    /*width: 10%;*/
}

.userImg{
    width: 100%;
    height: 75%;
}
