.loader {
    width: 50%;
    height: 80%;
    top:10%;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 100000;
}
